{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}

    {{ include('FlowcodeClassificationBundle:Collection:collectionHeader.html.twig') }}

    <section class="content">

        <div class="box box-solid">

            <div class="box-header">
                <h3>{{ "Collections"|trans }}</h3>
                <div class="box-tools">
                    <a href="{{ path('admin_collection_new') }}" class="btn btn-link btn-sm">
                        <i class="fa fa-plus"></i> {{ "new"|trans|title }}

                    </a>
                </div>
            </div>

            <div class="box-body">

                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>{{ "name"|trans|title }}</th>
                        <th>{{ "slug"|trans|title }}</th>
                        <th>{{ "description"|trans|title }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_collection_show', { 'id': entity.id }) }}">
                                    {{ entity.id }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('admin_collection_show', { 'id': entity.id }) }}">
                                    {{ entity.name }}
                                </a>
                            </td>
                            <td>{{ entity.slug }}</td>
                            <td>{{ entity.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </section>
{% endblock %}
