{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'tags.list.title'|trans }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Tags</li>
        </ol>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">All tags</h3>
                <div class="box-tools">
                    <ul class="list-inline">
                        <a href="{{ path('admin_tag_new') }}" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> New Tag
                        </a>
                    </ul>
                </div>
            </div>
            <div class="box-body">
                <table class="records_list table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Enabled</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('admin_tag_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                                <td>{{ entity.slug }}</td>
                                <td>{{ entity.enabled }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
