{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
{{ include('FlowcodeClassificationBundle:Tag:tagHeader.html.twig') }}
<section class="content">
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">{{ entity.name }}</h3>
                    <div class="box-tools">
                        <a href="{{ path('admin_tag') }}" class="btn btn-xs btn-link">
                            {{ "Back to the list"|trans }}
                        </a>
                        <a href="{{ path('admin_tag_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-link">
                            {{ "Edit"|trans|title }}
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th>{{ "Id"|trans|title }}</th>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Name"|trans|title }}</th>
                                <td>{{ entity.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Enabled"|trans|title }}</th>
                                <td>{% if entity.enabled %}{{ "yes"|trans }}{% else %}{{ "no"|trans }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
